body {
  font-family: Roboto, sans-serif;
  font-size: var(--font-size-base);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
